
@{
    {
        ViewBag.Title = "Fibonacci";
        for (int ctr = 1; ctr < 19; ctr++)
        {
            Response.Write("Sequence is" + ctr + "=" + ViewBag.total[ctr] + "<br>"); 
        }

    }
}
<h2>Fibonacci</h2>
<h3> total</h3>
